# The directory where Gitaly's executables are stored
bin_dir = "/usr/local/bin"

# listen on a TCP socket. This is insecure (no authentication)
listen_addr = "0.0.0.0:8075"

# Directory where internal sockets reside
internal_socket_dir = "/home/git"

# If metrics collection is enabled, inform gitaly about that
prometheus_listen_addr = "localhost:9236"

<% @storages = [ "default", ] %>
<% @index=`echo ${HOSTNAME##*-}`.to_i %>
<% if @storages.length > @index %>
[[storage]]
name = "<%= @storages[@index] %>"
path = "/home/git/repositories"
<% else %>
<% raise Exception, "Storage for node #{@index} is not present in the storageNames array. Did you use kubectl to scale up ? You need to solely use helm for this purpose" %>
<% end %>

[logging]
format = "json"
dir = "/var/log/gitaly"

[auth]
token = "<%= File.read('/etc/gitlab-secrets/gitaly/gitaly_token').strip.dump[1..-2] %>"

[git]

[gitaly-ruby]
# The directory where gitaly-ruby is installed
dir = "/srv/gitaly-ruby"
rugged_git_config_search_path = "/usr/local/etc"

[gitlab-shell]
# The directory where gitlab-shell is installed
dir = "/srv/gitlab-shell"